# This is a comment.
#
# For more information about the file, please see
#  - https://docs.gitlab.com/ee/ci/yaml
#  - https://gist.github.com/iktakahiro/d038abb2b4ef8bf0b36c17389fc3995d
#  - https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml
#  - https://docs.gitlab.com/ee/ci/caching/
#  - https://docs.mpcdf.mpg.de/doc/data/gitlab/devop-tutorial.html
#  - https://github.com/Queuecumber/torchjpeg/blob/master/.gitlab-ci.yml

image: python:3.11

variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/var/cache/pip"
    POETRY_HOME: "$CI_PROJECT_DIR/.poetry"
    POETRY_VERSION: "1.7.1"

stages:
   # Stages define the order in which the different jobs are executed.
   # All jobs associated to a stage are run in parallel, and each stage is executed sequentially.
    - test
    - build
    - deploy

cache:
    key:
        prefix: ${$CI_PROJECT_ID}
        files:
            - poetry.lock
            - .gitlab-ci.yml
    paths:
        - "var/cache/pip"
        - ".poetry"
        - ".venv/"


before_script:
    - test -e $CI_PROJECT_DIR/.poetry/bin/poetry || curl -sSL https://install.python-poetry.org | python3 -
    - export PATH="$CI_PROJECT_DIR/.poetry/bin/:$CI_PROJECT_DIR/uv run :$PATH"
    - echo $PATH
    - poetry --version
    - poetry install
    - make create-dirs
    - ls -al .
    - ls -al var/*
    # - source `poetry env info --path`/bin/activate


pytest:  # job
    stage: test
    # coverage: '/TOTAL.*\s(\d+\.\d+\%)/'   # use single-quotes to avoid escaping
    # coverage: '/TOTAL.*\s+(\d+%)$/'
    # coverage: '*TOTAL.*\s+(\d+%)$*'  # use single-quotes to avoid escaping
    # coverage:  '^TOTAL.+?(\d+%)$'
    script:
        # - poetry run pytest -s -v --cov=src --cov-report term --cov-report html:coverage --junitxml=pytest.xml --color=yes  tests
        - poetry run pytest -s -v --cov=src --cov-report term --cov-report html --color=yes  tests

    artifacts:
        paths:
            - var/coverage
        reports:
            junit: var/coverage/pytest.xml
        expire_in: 10 days


build-docs:
    stage: build
    script:
        - make sphinx-docs
    artifacts:
        paths:
            - var/html-docs
    rules:
        - when: always


pages:  # job
    stage: deploy
    script:
        - mv var/html-docs public  # symlinks don't work
    artifacts:
        paths:
            # to expose the pages on gitlab.io, the exported path must be named 'public'
            - public
    dependencies:
        - build-docs
    only:
        - main

#    rules:
#        - if: '$CI_COMMIT_TAG'
#            when: on_success
