# {{ project_name }}

[![PyPI](https://img.shields.io/pypi/v/{{ project_name }}.svg)][pypi status]
[![Status](https://img.shields.io/pypi/status/{{ project_name }}.svg)][pypi status]
[![Python Version](https://img.shields.io/pypi/pyversions/{{ project_name }})][pypi status]
[![License](https://img.shields.io/pypi/l/{{ project_name }})][license]

[![Read the documentation at https://{{ project_name }}.readthedocs.io/](https://img.shields.io/readthedocs/{{ project_name }}/latest.svg?label=Read%20the%20Docs)][read the docs]
[![Tests](https://github.com/{{ github_user }}/{{ project_name }}/workflows/Tests/badge.svg)][tests]
[![Codecov](https://codecov.io/gh/{{ github_user }}/{{ project_name }}/branch/main/graph/badge.svg)][codecov]

[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white)][pre-commit]
[![Black](https://img.shields.io/badge/code%20style-black-000000.svg)][black]

[pypi status]: https://pypi.org/project/{{ project_name }}/
[read the docs]: https://{{ project_name }}.readthedocs.io/
[tests]: https://github.com/{{ github_user }}/{{ project_name }}/actions?workflow=Tests
[codecov]: https://app.codecov.io/gh/{{ github_user }}/{{ project_name }}
[pre-commit]: https://github.com/pre-commit/pre-commit
[black]: https://github.com/psf/black

## Features

- TODO

## Requirements

- TODO

## Installation

You can install _{{ package_name }}_ via [pip] from [PyPI]:

```console
$ pip install {{ project_name }}
```

## Usage

Please see the [Command-line Reference] for details.

## Contributing

Contributions are very welcome.
To learn more, see the [Contributor Guide].

## License

Distributed under the terms of the [{{ license | replace("-", " ") }} license][license],
_{{ project_name }}_ is free and open source software.

## Issues

If you encounter any problems,
please [file an issue] along with a detailed description.

## Credits

This project was generated from [@libranet]'s [Kickstart Python Project] template.

[@libranet]: https://github.com/libranet
[pypi]: https://pypi.org/
[kickstatr python project]: https://github.com/libranet/kickstart-python-project
[file an issue]: https://github.com/{{ github_user }}/{{ project_name }}/issues
[pip]: https://pip.pypa.io/

<!-- github-only -->

[license]: https://github.com/{{ github_user }}/{{ project_name }}/blob/main/docs/license.md
[contributor guide]: https://github.com/{{ github_user }}/{{ project_name }}/blob/main/docs/contributing.md
[command-line reference]: https://{{ project_name }}.readthedocs.io/en/latest/usage.html
