"""{{ package_name }}.cfg."""

import logging
import pathlib as pl
import tempfile

import pydantic as pdt
import pydantic_settings as pdt_settings

log = logging.getLogger(__name__)


class Settings(pdt_settings.BaseSettings):
    """Application settings."""

    model_config = pdt_settings.SettingsConfigDict(populate_by_name=True)

    app_secret_key: str = pdt.Field(validation_alias="APP_SECRET_KEY")

    base_dir: pl.Path = pdt.Field(validation_alias="BASE_DIR")

    project_name: str = pdt.Field(default="{{ project_name }}", validation_alias="PROJECT_NAME")

    tmpdir: pl.Path = pdt.Field(default_factory=lambda: pl.Path(tempfile.gettempdir()), validation_alias="TMPDIR")


def get_settings() -> Settings:
    """Get application settings."""
    return Settings()  # ty: ignore[missing-argument]  # pydantic-settings loads from env vars
